.tienda-container {
    border: 3px solid yellow;
    padding: 20px;
    border-radius: 10px;
    background-color: #505050;
    width: 400px;
    text-align: center;
}
.tienda-container H1 {
    color: cyan;
}

.listado-productos {
    border: 3px solid blue;
    padding: 15px;
    border-radius: 10px;
    background-color: #505050;
    color: white;
    text-align: left;
}
.listado-productos h2 {
    text-align: center;
    color: yellow;
}
.error {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}