<!-- pagina de practica -->
<div class="container">
    <h1 class="text-center">{{ title }}</h1>
    <button (click)="toggleDarkMode()">Cambiar de Modo</button>
</div><hr>
<br><app-tarjeta-producto></app-tarjeta-producto><hr>
<br><app-componente-padre></app-componente-padre><hr>
<br><app-replicador></app-replicador>
<br><hr>
<app-replicador2></app-replicador2><br><hr>
<app-listado-producto></app-listado-producto><br><hr>
<app-calculadora></app-calculadora>
<br><hr>
<section>
    <div class="container text-center">
        <h1 class="text-center text-warning my-4">{{ Titulo }}</h1>
        <p>{{ mensaje }}</p>
    </div>
</section>
<br><hr>
<section>
    <div class="container text-center">
        <h1 class="text-center text-warning my-4">{{ titulo }}</h1>
        <app-listado-usuarios/>
    </div>
</section>