/* You can add global styles to this file, and also import other style files */
/* Modo normal (claro) */
body {
  background-color: white;
  color: black;
  transition: 0.3s;
}

/* Modo oscuro */
body.dark-mode {
  background-color: black;
  color: white;
}


h2 {
    color: rgba(124, 8, 177, 0.605);
  }
  
  p  {
    color: red;
  }